
.inputText{
  height: 100%;
  width: 100%;
  white-space: pre-line;
  /* overflow-y: break-word;
  overflow-y: scroll; */
  text-align: left;
  vertical-align: top;
  resize: none;
}
.card{
  border-width:1px;
  border-color:rgba(0, 0, 0, 0.125);
  border-radius: 14px;
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
}
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}